Package: com.levi.ifilethruterm
Name: iFile Through Terminal
Version: 2.0
Architecture: iphoneos-arm
Depiction: http://repo.insanelyi.com/depiction.php?package=ifilethroughterminal
Description: iFilethruTerm - Open iFile through terminal
Depends: com.ericasadun.utilities
Homepage: http://getagripon.com/tillie
Author: Levi Tillie <levi.tillie3@gmail.com>
Sponsor: Levi Tillie <http://getagripon.com/tillie>
Section: lScripts
Maintainer: Levi Tillie <levi.tillie3@gmail.com>

